<div>

  <div>
    <h1 class="title">Welcome, <%=@user.name %></h1>
  </div>

  <div>
    <h2>Your Saved Games</h2>
    <ul>
      <% @user.games.each do |game| %>
        <li><%=game.name%></li>
      <% end %>
    </ul>
  </div>

  <div>
    <h2>Your Friends</h2>
    <ul>
      <% @user.accepted_friends.each do |friend| %>
        <li><%=friend.name%></li>
      <% end %>
    </ul>
  </div>

  <div>
    <h2>Pending Friend Requests</h2>
    <ul>
      <% @user.pending_friends.each do |friend| %>
        <li><%=friend.name%>  <button>Accept Friend</button></li>
      <% end %>
    </ul>
  </div>

</div>

<!-- (friend.games.count) -->
