<div class="game-list">
  <h2>Games</h2>
  <% @games.each do |game| %>
    <p><%= link_to game.name, game_path(game) %> | <%= game.saved_games.count %> Saves
      <button>save this game</button>
    </p>
  <% end %>
</div>
